<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BannedURLFragments</key>
	<array>
		<string>/wiki/File</string>
		<string>org/wiki/Wikipedia:</string>
		<string>org/wiki/Special:</string>
		<string>org/wiki/Portal:</string>
		<string>org/wiki/Template:</string>
		<string>org/wiki/Help:</string>
		<string>org/wiki/Category:</string>
		<string>/File:</string>
		<string>#/</string>
	</array>
	<key>BaseURLString</key>
	<string>https://en.m.wikipedia.org/wiki</string>
	<key>PageTitleCharactersToRemove</key>
	<integer>0</integer>
	<key>PageTitleStringToReplace</key>
	<string> - Wikipedia</string>
	<key>QuickRace</key>
	<false/>
	<key>ConnectionTestTimeout</key>
	<integer>4</integer>
	<key>RandomURLString</key>
	<string>https://en.m.wikipedia.org/wiki/Special:Random</string>
	<key>Version</key>
	<integer>18</integer>
	<key>WhatLinksHereURLString</key>
	<string>https://en.m.wikipedia.org/w/index.php?title=Special:WhatLinksHere</string>
	<key>MaxFoundPagePlayers</key>
	<integer>3</integer>
	<key>VotingArticlesCount</key>
	<integer>8</integer>
	<key>BonusPointReward</key>
	<integer>2</integer>
	<key>BonusPointsInterval</key>
	<integer>120</integer>
</dict>
</plist>
