<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>11</integer>
	<key>QuickRace</key>
	<true/>
	<key>PageTitleStringToReplace</key>
	<string> - Wikipedia</string>
	<key>PageTitleCharactersToRemove</key>
	<integer>0</integer>
	<key>WhatLinksHereURLString</key>
	<string>https://en.m.wikipedia.org/w/index.php?title=Special:WhatLinksHere</string>
	<key>RandomURLString</key>
	<string>https://en.m.wikipedia.org/wiki/Special:Random</string>
	<key>BaseURLString</key>
	<string>https://en.m.wikipedia.org/wiki</string>
	<key>BannedURLFragments</key>
	<array>
		<string>/wiki/File</string>
		<string>org/wiki/Wikipedia:</string>
		<string>org/wiki/Special</string>
		<string>org/wiki/Portal:</string>
		<string>/File:</string>
		<string>#/</string>
	</array>
</dict>
</plist>
